In [31]:
# Load libraries.
import pandas as pd
import numpy as np
import zipfile

from sklearn.model_selection import train_test_split

In [57]:
!pwd

/Users/akikoiwamizu/Documents/Documents - Akiko’s iMac 27"/GitHub/w207-project

In [15]:
# Read in fake news data file.
fake_zip = zipfile.ZipFile("input/fake-and-real-news-dataset/Fake.csv.zip") 
fake = pd.read_csv(fake_zip.open("Fake.csv"))
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [16]:
# Read in true news data file.
true_zip = zipfile.ZipFile("input/fake-and-real-news-dataset/True.csv.zip") 
true = pd.read_csv(true_zip.open("True.csv"))
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [20]:
# Create label columns for the fake news data set.
fake["label"] = "fake"
fake["label_bin"] = 0
fake.shape

(23481, 6)

In [21]:
# Create label columns for the true news data set.
true["label"] = "true"
true["label_bin"] = 1
true.shape

(21417, 6)

In [24]:
# Merge + combine data sets into one.
data = [fake, true]
df = pd.concat(data, ignore_index=True)
df.shape

(44898, 6)

In [27]:
# Set the randomizer seed so results are the same each time.
np.random.seed(0)

In [55]:
# Split data sets into train (70%), test (15%), & dev (15%).
# Use random_state param to reproduce shuffle outcomes.
train, test = train_test_split(df, random_state=0, train_size=0.7, test_size=0.3, shuffle=True)
num_test = int(len(test)/2)
test = test[num_test:]
dev = test[:num_test]

print("Train data shape:", train.shape)
print("Test data shape:", test.shape)
print("Dev data shape:", dev.shape)

Train data shape: (31428, 6)
Test data shape: (6735, 6)
Dev data shape: (6735, 6)

In [60]:
# Export train, test, & dev data sets to dir.
# Write a Pandas DataFrame as a zipped CSV file.
train.to_csv("input/processed-datasets/train.csv.zip", index=False, compression="zip")
test.to_csv("input/processed-datasets/test.csv.zip", index=False, compression="zip")
dev.to_csv("input/processed-datasets/dev.csv.zip", index=False, compression="zip")

In [62]:
!ls -lrth input/processed-datasets

total 89968
-rw-r--r--  1 akikoiwamizu  staff    30M Mar 13 11:33 train.csv.zip
-rw-r--r--  1 akikoiwamizu  staff   6.5M Mar 13 11:33 test.csv.zip
-rw-r--r--  1 akikoiwamizu  staff   6.5M Mar 13 11:33 dev.csv.zip